@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<p>Alquiler</p>
<ul>
    <li>@Html.ActionLink("Clientes", "Index", "customers")</li>
    <li>@Html.ActionLink("Equipos", "Index", "riders")</li>
    <li>@Html.ActionLink("Categorias", "Index", "categories")</li>
    <li>@Html.ActionLink("Clientes", "index", "competitions")</li>
</ul>

